spring:
  application:
    name: shorturl-app

  datasource:
    url: jdbc:mysql://db:3306/shorturl
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000
