spring:
  application:
    name: shorturl-app

  datasource:
    url: jdbc:mysql://db:3306/shorturl
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000

  kafka:
    bootstrap-servers: shorturl-kafka:29092
    consumer:
      group-id: shorturl-click-consumer
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.trusted.packages: "com.yunju.shorturl_app.*"
    listener:
      ack-mode: batch
      concurrency: 3
