spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000    # 30초
      max-lifetime: 180000   # 3분
      validation-timeout: 5000

  jpa:
    hibernate:
      ddl-auto: validate

  data:
    redis:
      host: shorturl-redis
      port: 6379
      timeout: 2000