spring:
  profiles:
    active: local
  application:
    name: redirect-service
  jackson:
    time-zone: Asia/Seoul
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul