spring:
  profiles:
    active: local
  application:
    name: url-service
  jackson:
    time-zone: Asia/Seoul
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Seoul
springdoc:
  api-docs.enabled: true
  swagger-ui.enabled: true